
h3 {
    color: rgb(var(--ig-primary-text));
    font-weight: 500;
    letter-spacing: .5px;
    margin: 8rem auto 3rem auto;
}
.not-avail-p {
    color: rgb(var(--ig-primary-text));
    margin: 2rem;
}
.back {
    text-decoration: none;
}

