.post {
    
    background-color: var(--white);
    margin-bottom: 1rem;
    border: solid var(--gray-primary) 1px;
    border-radius:  .45rem;
    
}

.post .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}
.post .header .user-info {
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.post .header .user-info img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.post .header .user-info .username {
    letter-spacing: .2px;
    font-size: 12px;
    margin: 0;
    color: rgb(38, 38, 38);
}
.post .header .dots{
    margin-right: .5rem;
    color: rgb(38, 38, 38);
    cursor: pointer;
}
.post .image img {
    max-width: 100%;
}

.post .activites {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
}
.post .activites .liked {
    color: rgb(237,73,86);
}
.post .activites .not{
    color: var(--black-light);
    width: 1.5rem;
}
.activites .comment {
    width: 1.6rem;
}
.post .post-likes {
    color:var(--black-light);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin: 0;
}
.post .post-likes p {
    margin: .4rem 1rem;
}
.caption {
    font-size: 14px; 
    margin: 0 0 0 1rem;     
    text-align: left;         
}
.caption span {
    margin-right: .4rem;
    margin-bottom: .3rem;
    font-weight: 600;
    color: var(--black-light);
    text-decoration: none;
    cursor: pointer;
}
.caption span a{
    color: var(--black-light);
    text-decoration: none;
}
.caption span:hover {
    text-decoration: underline;
}
.caption p {
    margin: 0;
    word-wrap: wrap;
}
.view-comments p {
    text-align: left;
    margin: 0.6rem 1rem;
    font-size: 14px;
    font-weight: 600;
    color: rgb(142, 142, 142);
    cursor: pointer;
}
.post-date {
    padding-left: 1rem;
}
.post-date p{
    margin: .5rem 0rem;
    color: rgb(142, 142, 142);
    text-transform: uppercase;
    font-size: 8px;
    text-align: left;
    letter-spacing: .3px
}
.add-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px var(--gray-primary);
    font-size: 14px;
}
.add-comment input ,.add-comment button {
    border: none;
    background-color: var(--white);
    margin-right: .5rem;
    padding: 1rem;
}
.add-comment input {
    width: 100%;

}
.add-comment input:focus {
    outline: none;
}
.add-comment button {
    color: var(--blue-light);
    font-weight: 550;
}


/****************************/
.all-comments .activites {
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
}
.all-comments .activites .liked {
    color: rgb(237,73,86);
}
.all-comments .activites .not{
    color: var(--black-light);
    width: 1.5rem;
}
.all-comments .activites .comment {
    width: 1.6rem;
}
.all-comments .post-likes {
    color:var(--black-light);
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin: 0;
}
.all-comments .post-likes p {
    margin: 0;
}
.all-comment .post-date p{
    margin: 0;
} */
/****************************/

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    background-color: var(--white);
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    z-index: 1000;
}
@media (max-with:600px) {
    .overlay {
        width: 90%;
    }
}

.overlay .profileimg img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2rem;
}

.overlay div {
    width: 100%;
    border-bottom:solid 1px  var(--gray-primary);
    text-align: center;
    padding: 1rem 0;
    font-size: 14px;
    color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .overlay div:last-of-type {
    border: none;
    padding: 0;
}
.overlay div .unfollow {
    color: rgb(237,73,86);
    font-weight: 600;
    background-color: var(--white);
    border: none;
    
}
.overlay div .cancel {
    color: rgb(38, 38, 38);
    background-color: var(--white);
    padding: 16px;
    border: none;
}
@media (max-width:474px) {
    .overlay{
        width: 90%;
    }
    
}
